<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>



<body class=" allelements">
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      font-size: 20px;
      table-layout: fixed;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqgZXdzQBgmeEb_2qniK2Js3abzYdIshg&callback=initMap">
    </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqgZXdzQBgmeEb_2qniK2Js3abzYdIshgcallback=isWithinRange"></script>
  <script>

    // navigator.geolocation.getCurrentPosition(
    //   function newMap(lati, longi) {
    //     initMap(lati, longi);
    //   },
    //   function errorCallback(error) {
    //     console.log(error);
    //   }
    // );

    // initMap(39.248898, -104.968567);

    // "propertylatitude": "35.288092",
    //   "propertylongitude": "-80.777155",
    // var address = '7039 CHEYENNE DR'
    // var lattt
    // var langg
    var isInRange = false

    function initMap(lat, lng) {
      var myLatLng = {
        lat: 35.288092,
        lng: -80.777155,
        // lat,
        // lng
      };
      var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: myLatLng,
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
      });
      let lat1 = 39.248898
      let lon1 = -104.968567
      // let lat2 = 35.288092
      // let lon2 = -80.777155
      let range = 1000
      isWithinRange(lat1, lon1, lat, lng, range)
    }

    //   fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURIComponent(address)}&key=${apiKey}`)
    //     .then((response) => response.json())
    //     .then((data) => {
    //       latt = data.results[0].geometry.location.lat;
    //       langg = data.results[0].geometry.location.lng
    //       const { lat, lng } = data.results[0].geometry.location;
    //       console.log(`Latitude: ${latt}`);
    //       console.log(`Longitude: ${langg}`);
    //     })
    //     .catch((err) => {
    //       console.log(`Error ${err}`)
    //     })

    // let lat1 = '39.248898'
    // let lon1 = '-104.968567'
    // let lat2 = '35.288092'
    // let lon2 = '-80.777155'
    // let range = 1000
    // let isInRange

    function isWithinRange(lat1, lon1, lat2, lon2, range) {
      console.log('reached')
      const R = 6371e3; // earth's radius in meters
      const φ1 = lat1 * Math.PI / 180;
      const φ2 = lat2 * Math.PI / 180;
      const Δφ = (lat2 - lat1) * Math.PI / 180;
      const Δλ = (lon2 - lon1) * Math.PI / 180;

      const a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
        Math.cos(φ1) * Math.cos(φ2) *
        Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
      const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      const distance = R * c;
      if (distance < range) {
        range = true
      } else {
        range = false
      }
      return range
      console.log('Is in Range =>', range)
      // return distance < range;
    }
  </script>
  <div>
    <div id="map" style="width: 2120px; height: 450px;">
    </div>

    <table class="center">
      <tr>
        <th>Console Data</th>
        <th>latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th>Street Name</th>
        <th>City Name</th>
        <th>ZIP Code</th>
        <th>Heat Risk</th>
        <th>Storm Risk</th>
        <th>Wild Fire Risk</th>
        <th>Drought Score</th>
        <th>Flood Score</th>
        <th>Total Risk</th>
      </tr>
      <%path.forEach(function(details){%>
        <tr style="text-align:center;">
          <td>
            <% helper.getGeoLocation( details.propertylatitude , details.propertylongitude , details.totalrisk) %>
          </td>
          <td>
            <%= details.propertylatitude %>
          </td>
          <td>
            <%= details.propertylongitude %>
          </td>
          <td>
            <%= details.propertyaddressfull %>
          </td>
          <td>
            <%= details.propertyaddressstreetname %>
          </td>
          <td>
            <%= details.propertyaddresscity %>
          </td>
          <td>
            <%= details.propertyaddresszip %>
          </td>
          <td>
            <%if(details.heatriskscore < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.heatriskscore < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.heatriskscore < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.heatriskscore < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
          <td>
            <%if(details.stormriskscore < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.stormriskscore < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.stormriskscore < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.stormriskscore < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
          <td>
            <%if(details.wildfireriskscore < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.wildfireriskscore < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.wildfireriskscore < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.wildfireriskscore < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
          <td>
            <%if(details.droughtriskscore < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.droughtriskscore < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.droughtriskscore < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.droughtriskscore < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
          <td>
            <%if(details.floodriskscore < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.floodriskscore < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.floodriskscore < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.floodriskscore < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
          <td>
            <!-- <%= details.totalrisk %> -->
            <%if(details.totalrisk < 19){ %>
              <div class="tooltip">
                <span class="tooltiptext">Low</span>
              </div>
              <%} else if(details.totalrisk < 39) {%>
                <div class="tooltip">
                  <span class="tooltiptext">Significant</span>
                </div>
                <%} else if(details.totalrisk < 59) {%>
                  <div class="tooltip">
                    <span class="tooltiptext">High</span>
                  </div>
                  <%} else if(details.totalrisk < 79) {%>
                    <div class="tooltip">
                      <span class="tooltiptext">Very High</span>
                    </div>
                    <%} else {%>
                      <div class="tooltip">
                        <span class="tooltiptext">Extreme</span>
                      </div>
                      <%}%>
          </td>
        </tr>
        <%})%>
    </table>
  </div>
  </div>
</body>

</html>